<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.auth.mapper.AuthAccountMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.auth.entity.dto.AuthAccount" extends="org.zkit.support.server.account.auth.mapper.base.AuthAccountBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.auth.mapper.base.AuthAccountBaseMapper.Base_Column_List"/>
    </sql>

    <select id="findOneByUsername" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from auth_account
        where
        username = #{username,jdbcType=VARCHAR}
        and deleted = false
    </select>

    <select id="countByUsernameAndDeleted" resultType="int">
        select count(*)
        from auth_account
        where username = #{username,jdbcType=VARCHAR}
          AND deleted = #{deleted,jdbcType=BOOLEAN}
    </select>

</mapper>
