<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.auth.mapper.AuthOpenUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.account.auth.entity.dto.AuthOpenUser">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="username" property="username" />
        <result column="platform" property="platform" />
        <result column="account_id" property="accountId" />
        <result column="avatar" property="avatar" />
        <result column="access_token" property="accessToken" />
        <result column="token_type" property="tokenType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id, username, platform, account_id, avatar, access_token, token_type, create_time, update_time
    </sql>

    <select id="findOneByPlatformAndOpenId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from auth_open_user
        where
        platform = #{platform,jdbcType=VARCHAR}
        AND open_id = #{openId,jdbcType=VARCHAR}
    </select>

    <update id="updateAccountIdById">
        update auth_open_user
        set account_id = #{accountId,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>

</mapper>
