<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.auth.mapper.AuthOpenUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.account.auth.entity.dto.AuthOpenUser">
        <id column="id" property="id" />
        <result column="openId" property="openId" />
        <result column="username" property="username" />
        <result column="platform" property="platform" />
        <result column="accountId" property="accountId" />
        <result column="avatar" property="avatar" />
        <result column="accessToken" property="accessToken" />
        <result column="tokenType" property="tokenType" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, openId, username, platform, accountId, avatar, accessToken, tokenType, createTime, updateTime
    </sql>

</mapper>
