<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.auth.mapper.AuthAppMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.auth.entity.dto.AuthApp" extends="org.zkit.support.server.account.auth.mapper.base.AuthAppBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.auth.mapper.base.AuthAppBaseMapper.Base_Column_List"/>
    </sql>
    <select id="findOneByName" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from auth_app
        where
        name = #{name,jdbcType=VARCHAR}
    </select>

</mapper>
