<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessRoleAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessRoleAuthority">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="authority_id" property="authorityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, authority_id
    </sql>
    <delete id="deleteByAuthorityId">
        delete
        from access_role_authority
        where authority_id = #{authorityId,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByAuthorityIdIn">
        delete from access_role_authority
        where
        authority_id in
        <foreach collection="authorityIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>

</mapper>
