<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessRoleMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessRole" extends="org.zkit.support.server.account.access.mapper.base.AccessRoleBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.access.mapper.base.AccessRoleBaseMapper.Base_Column_List"/>
    </sql>

    <select id="query" resultType="org.zkit.support.server.account.access.entity.dto.AccessRole">
        select
        <include refid="Column_List" />
        from access_role
        <where>
            <if test="query.keyword != null">
                and (name like concat('%', #{query.keyword}, '%')  or description like concat('%', #{query.keyword}, '%'))
            </if>
            <if test="query.enableBool != null">
                and enable = #{query.enableBool}
            </if>
        </where>
    </select>

    <select id="findByNameIn" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_role
        where
        name in
        <foreach collection="nameList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        and enable = 1
    </select>
    <select id="countByNameAndEnable" resultType="int">
        select count(*)
        from access_role
        where name = #{name,jdbcType=VARCHAR}
          AND enable = #{enable,jdbcType=BOOLEAN}
    </select>
    <select id="findOneByNameAndEnable" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_role
        where
        name = #{name,jdbcType=VARCHAR}
        AND enable = #{enable,jdbcType=BOOLEAN}
    </select>

</mapper>
