<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessAuthorityApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessAuthorityApi">
        <id column="id" property="id" />
        <result column="authority_id" property="authorityId" />
        <result column="api_id" property="apiId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, authority_id, api_id
    </sql>
    <select id="findByAuthorityId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from access_authority_api
        where
        authority_id = #{authorityId,jdbcType=NUMERIC}
    </select>

    <delete id="deleteByAuthorityId">
        delete
        from access_authority_api
        where authority_id = #{authorityId,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByAuthorityIdIn">
        delete from access_authority_api
        where
        authority_id in
        <foreach collection="authorityIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>

</mapper>
