<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessAuthorityApiMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessAuthorityApi" extends="org.zkit.support.server.account.access.mapper.base.AccessAuthorityApiBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.access.mapper.base.AccessAuthorityApiBaseMapper.Base_Column_List"/>
    </sql>

    <select id="findByAuthorityId" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_authority_api
        where
        authority_id = #{authorityId,jdbcType=NUMERIC}
    </select>

    <delete id="deleteByAuthorityId">
        delete
        from access_authority_api
        where authority_id = #{authorityId,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByAuthorityIdIn">
        delete from access_authority_api
        where
        authority_id in
        <foreach collection="authorityIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>

</mapper>
