<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessRoleAuthorityMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessRoleAuthority" extends="org.zkit.support.server.account.access.mapper.base.AccessRoleAuthorityBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.access.mapper.base.AccessRoleAuthorityBaseMapper.Base_Column_List"/>
    </sql>
    <delete id="deleteByAuthorityId">
        delete
        from access_role_authority
        where authority_id = #{authorityId,jdbcType=NUMERIC}
    </delete>
    <delete id="deleteByAuthorityIdIn">
        delete from access_role_authority
        where
        authority_id in
        <foreach collection="authorityIdList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>
    <delete id="deleteByRoleId">
        delete
        from access_role_authority
        where role_id = #{roleId,jdbcType=NUMERIC}
    </delete>
    <select id="findByRoleId" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_role_authority
        where
        role_id = #{roleId,jdbcType=NUMERIC}
    </select>

</mapper>
