<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessAuthorityMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessAuthority" extends="org.zkit.support.server.account.access.mapper.base.AccessAuthorityBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.account.access.mapper.base.AccessAuthorityBaseMapper.Base_Column_List"/>
    </sql>

    <select id="findAuthoritiesByAccountId" resultMap="ResultMap">
        SELECT aa.id, aa.value
        FROM auth_account AS account
        JOIN auth_account_role AS ar ON ar.account_id = account.id
        JOIN access_role AS role ON role.id = ar.role_id
        JOIN access_role_authority AS ara ON ara.role_id = role.id
        JOIN access_authority AS aa ON aa.id = ara.authority_id
        WHERE account.id = #{accountId} AND aa.id IS NOT NULL
    </select>

    <select id="countByValue" resultType="int">
        select count(*)
        from access_authority
        where value = #{value,jdbcType=VARCHAR}
    </select>

    <select id="findOneByValue" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_authority
        where
        value = #{value,jdbcType=VARCHAR}
    </select>

    <select id="findByIdIn" resultMap="ResultMap">
        select
        <include refid="Column_List"/>
        from access_authority
        where
        id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>

</mapper>
