<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.account.access.mapper.AccessAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.account.access.entity.dto.AccessAuthority">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="sort" property="sort" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_id, name, value, sort,
          create_user, create_time, update_user, update_time
    </sql>

    <select id="findAuthoritiesByAccountId" resultMap="BaseResultMap">
        SELECT aa.id, aa.value
        FROM auth_account AS account
        JOIN auth_account_role AS ar ON ar.account_id = account.id
        JOIN access_role AS role ON role.id = ar.role_id
        JOIN access_role_authority AS ara ON ara.role_id = role.id
        JOIN access_authority AS aa ON aa.id = ara.authority_id
        WHERE account.id = #{accountId} AND aa.id IS NOT NULL
    </select>

    <select id="countByValue" resultType="int">
        select count(*)
        from access_authority
        where value = #{value,jdbcType=VARCHAR}
    </select>

    <select id="findOneByValue" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from access_authority
        where
        value = #{value,jdbcType=VARCHAR}
    </select>

    <select id="findByIdIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from access_authority
        where
        id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </select>

</mapper>
