<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.assets.oss.mapper.OssFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.assets.oss.entity.dto.OssFile">
        <id column="id" property="id" />
        <result column="file_name" property="fileName" />
        <result column="length" property="length" />
        <result column="content_type" property="contentType" />
        <result column="url" property="url" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_name, length, content_type, url, user_id, create_time
    </sql>

</mapper>
