<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.message.activity.mapper.ActivityMapper">

    <resultMap id="ResultMap" type="org.zkit.support.server.message.activity.entity.dto.Activity" extends="org.zkit.support.server.message.activity.mapper.base.ActivityBaseMapper.BaseResultMap">
    </resultMap>

    <sql id="Column_List">
        <include refid="org.zkit.support.server.message.activity.mapper.base.ActivityBaseMapper.Base_Column_List"/>
    </sql>

    <select id="query" resultMap="ResultMap">
        SELECT
            a.*
        FROM
            activity AS a
        LEFT JOIN 
            activity_app AS aa
        ON 
            a.app_id = aa.id
        <where>
            <trim prefixOverrides="AND|OR">
                <if test="request.app != null">
                    AND aa.label = #{request.app}
                </if>
                <if test="request.userId != null">
                    AND a.user_id = #{request.userId}
                </if>
                <if test="request.metadata != null">
                    <foreach collection="request.metadata" index="key" item="value" separator=" AND ">
                        AND JSON_EXTRACT(a.metadata, CONCAT('$.', #{key})) = #{value}
                    </foreach>
                </if>
            </trim>
        </where>
        order by a.create_time desc
    </select>

</mapper>
