<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zkit.support.server.message.activity.mapper.base.ActivityBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zkit.support.server.message.activity.entity.dto.Activity">
        <id column="id" property="id" />
        <result column="action" property="action" />
        <result column="app_id" property="appId" />
        <result column="url" property="url" />
        <result column="title" property="title" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="metadata" property="metadata" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, action, app_id, url, title, user_id, create_time, metadata
    </sql>

</mapper>
